/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    display: block;
}
.contentmyname{
 margin: 20px;
 display: inline-block;
}
.myname{
    overflow: hidden;
    font-size: 3.6rem;
    font-weight: 700;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    animation: mynamanimation 4s(40,end) infinite;
}
@keyframes mynamanimation{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
/* Header styles */
header {
    color: black;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header nav {
    display: flex;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

header nav ul li {
    margin-left: 10px;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
}

header nav ul li a:hover {
    background-color: #555;
}

/* Main content styles */
.content {
    padding: 50px 0;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    float: left;
    padding-right: 15px;
    transition: transform 0.3s ease-in-out;

}
.profile img:hover {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    float: left;
    padding-right: 15px;
    transition: transform 0.3s ease-in-out;
    filter: drop-shadow(0px 0px 12px tomato);
}

.profile .About {
    text-align: justify;
    line-height: 1.8;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px;
}

.portfolio-item {
    width: 30%;
    margin-bottom: 50px;
    text-align: center;
    color:black;
}

.portfolio-item img {
    width: 100%;
    border-radius: 8px;
    backdrop-filter: blur(10px);
}
.portfolio-item:hover {
    background-color: black;
     color: #007bff; 
     filter: drop-shadow(0px 0px 12px blue); /* Make sure the shadow is noticeable */
    position: relative; /* Ensure the element is positioned */
    z-index: 10; /* Bring the element forward if needed *//* Optional: Change the text color to white for better visibility */
    
}

/* Contact section styles */
#contact p {
    margin-right: 10px;
}

/* Certificates section styles */
.certificates {
    background-color: #f9f9f9;
    text-align: center;
    padding: 50px 0;
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Hides scrollbar in Firefox */
    -ms-overflow-style: none; /* Hides scrollbar in IE/Edge */
}

.slide {
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 300px;
    margin-right: 20px;
    text-align: center;
}

.slide img {
    width: 90%;
    border-radius: 8px;
    height: 200px;
}
.slide img:hover {
    width: 90%;
    border-radius: 8px;
    height: 200px;
    filter: drop-shadow(0px 0px 12px gold); /* Make sure the shadow is noticeable */
    position: relative; /* Ensure the element is positioned */
    z-index: 10; /* Bring the element forward if needed *//* Optional: Change the text color to white for better visibility */
}

.slide h3, .slide p {
    margin: 10px 0;
    cursor: pointer;
}
.slide p:hover {
    margin: 10px 0;
    filter: drop-shadow(0px 0px 12px rich olive green); /* Make sure the shadow is noticeable */
    position: relative; /* Ensure the element is positioned */
    z-index: 10; 
    cursor: pointer;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    
}

footer p {
    margin: 0;
    padding: 0;
}

/* Responsive styles */
@media (max-width: 1024px) {
    .container {
        width: 90%;
    }

    header nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .gallery {
        flex-direction: column;
        align-items: center;
    }

    .portfolio-item {
        width: 100%;
    }

    .profile img {
        float: none;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .slide {
        width: 80%;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 20px;
    }

    header nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .content {
        padding: 20px 0;
    }

    .profile img {
        width: 100px;
        height: 100px;
    }

    .portfolio-item {
        width: 100%;
    }

    .slide {
        width: 100%;
    }
}

/* Additional styles */
.pic1 {
    width: 150px;
    height: 150px;
    border-radius: 75%;
    margin-right: 20px;
    float: right;
    margin-top: 20px;
    position: relative;
    bottom: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.internship-item {
    width: 30%;
    margin-bottom: 10px;
    text-align: center;
    padding: 15px;
    background-color: black;
     color: white; 
     border-radius: 100%;
     padding: 30px;
    
}
.description{
    padding: 20px;
}
.internship-item:p{
    color:white;
    padding: 50px;
}
.internship-item:hover {
    background-color: white;
    color: black;
    filter: drop-shadow(0px 0px 12px blue); /* Make sure the shadow is noticeable */
    position: relative; /* Ensure the element is positioned */
    z-index: 10; /* Bring the element forward if needed */
}

.next-button {
    background-color: tomato;
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 75px;
    border: none;
    padding: 5px 15px;
    font-size: medium;
    cursor: pointer; /* Added cursor for better UX */
    padding: 10px;
}

.next-button:hover {
    color: white;
    background-color: purple; 
    filter: drop-shadow(0px 0px 12px green); /* Make sure the shadow is noticeable */
    position: relative; /* Ensure the element is positioned */
    z-index: 10; 
    
}



.contact {
    margin-bottom: 20px;
    width: 30%;
}

.contact-info, .contact-pic {
    flex: 1;
    padding: 10px;
}

.contact-info {
    max-width: 50%;
}

.contact-pic {
    display: flex;
    justify-content: center;
}

.pic1 {
    max-width: 100%;
    height: auto;
}

#about {
    background-color: #f2f2f2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    padding: 50px 0;
}

.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    overflow: hidden;
    color: black;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 1536px;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-size: cover;
}

.hero .content1 {
    position: relative;
    z-index: 1;
}

.content1 h2 {
    font-size: 48px;
    margin: 0;
}

.content1 p {
    font-size: 24px;
}

.button6 {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    color: darkorange;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 40px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.button6:hover{
    background-color: #333333;
    /* display:;
    filter: drop-shadow(0 0 10px #fffdef); */
    filter: drop-shadow(0px 0px 12px blue); /* Make sure the shadow is noticeable */
    position: relative; /* Ensure the element is positioned */
    z-index: 10; 
}

.dropdown-content {
    background-color: transparent;
}

li.about {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: gray;
}

li.about:hover .dropdown-content {
    display: block;
}

li.about > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

li.about > a i {
    margin-right: 8px;
}

li.about > a:hover {
    background-color: gray;
}

a {
    text-decoration: none;
}

.container a:hover {
    background-color: white;
    border-radius: 40px;
    padding: 10px 16px;
    text-align: center;
}

.About a:hover {
    background-color: white;
}

header nav ul li.about a:hover {
    background-color: white;
}

.edu-slider-section {
    padding: 20px;
    background-color: navy;
}

.edu-slider-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}
.edu-slider-container:hover{
    box-shadow: 0px 0px 18px gold ;
    cursor: pointer;
    border-radius: 40px;
    

}
#Education:hover{
    animation-name: edusliderkeyframes;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#about:hover{
    animation-name: profilekeyframes;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    cursor: pointer;

}
@keyframes edusliderkeyframes {
    from{background-color:cornsilk};
    to{background-color:#6B5B95};
    

    
}
@keyframes profilekeyframes {
    from{background-color:lightskyblue};
    to{background-color:lightgray};
    

    
}

.edu-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.edu-slide {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;

}
edu-slide:hover{
   
}

.edu-slide img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
   
    
}
.edu-slide img:hover {
    transform: scale(1.1);
    
   
    
}
.edu-slide-content {
    position: absolute;
    bottom: 10%;
    left: 10%;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
}

.edu-slide-content h3 {
    margin: 0;
    font-size: 24px;
}

.edu-slide-content p {
    font-size: 16px;
}

.edu-prev, .edu-next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 24px;
}

.edu-prev {
    left: 10px;
}

.edu-next {
    right: 10px;
}


#Education {
    background-color: aliceblue;
    width: auto;
}
.cv-container {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping of items within the container */
    justify-content: center; /* Centers the button horizontally */
}

.download-cv {
    color: purple;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    padding-top: 15px;
    border: 2px solid purple;
    border-radius: 40px;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 15px;
    position: relative; /* Needed for positioning pseudo-elements */
    overflow: hidden; /* Ensures the twinkles do not overflow the button */
}

.download-cv i {
    margin-left: 5px;
}

.download-cv:hover {
    background-color: purple;
    color: white;
}

/* Twinkle effect styles */
.download-cv::before, .download-cv::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8); /* White color for twinkles */
    width: 10px;
    height: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Glowing effect */
    transition: opacity 0.5s ease;
}

.download-cv::before {
    top: 20%;
    left: 30%;
    animation: twinkle1 1.5s infinite;
}

.download-cv::after {
    bottom: 30%;
    right: 40%;
    animation: twinkle2 1.5s infinite;
}

@keyframes twinkle1 {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes twinkle2 {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}
/* Add hover effect to images in certificate slides */
.slider .slide img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out; /* Smooth transition */
    padding: 15px;
    border-right:0vh;
}

.slider .slide img:hover {
    transform: scale(1.1); /* Scale image to 110% on hover */
}
.onlinepet a:hover{
    background-color: aquamarine;
    transition: transform 0.3s ease-in-out;
}
.nature a:hover{
    background-color: aquamarine;
    transition: transform 0.3s ease-in-out;
    
}
.pythonbased a:hover{
    background-color: aquamarine;
    transition: transform 0.3s ease-in-out;
}
.projectlink{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
    border-radius: 60px;
}
.portfolio-item{
    padding: 25px;
}
.projectlink:hover {
    background-color:#ffcc00;
}

.projectlink i {
    margin-left: 10px; /* Add space between text and icon */
    font-size: 20px; /* Ensure icon size fits well */
}

hr {
    border: none; /* Remove default border */
    height: 2px; /* Set the height of the line */
    background: #fcf9f9; /* Set the color of the line */
    width: 100%; /* Set the width of the line */
    margin: 20px 0;
    /* Add some space above and below the line */
    
}


